@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color: #ffffef;
}

.title{
    color: rgb(66, 66, 66);
    text-align: center;
}

.category{
   text-align: right;
   word-spacing: 22px;
   font-weight: bold;
   font-size: 23px;
   
}

.category a{
    text-decoration: none;
    color: #666666;
}

.category a:hover{
   color: black;
}


.introduction{
    color: #666666;
    text-align: center;
    font-size: 20px;
    margin-top: 120px;
}

.form-group{
  color: #666666;
  text-align: center;
  font-size: 24px;
}

input[type="text"], input[type="password"] {
      min-width: 45px;
      padding: 7px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 18px;
      margin: 15px;
    }


button[type="button"]{
      text-decoration: none;
      color: rgb(225, 243, 222);
      background-color: #4bac83;
      border-radius: 6px;
      box-shadow:4px 4px #adbbb6;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 4px 30px;
      margin-top: 40px;
      margin-left: 860px;
    }